*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(229, 227, 227);
}
main{
    /* display: grid;
    
    place-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    width: 295px;
    height: 350px;
    padding: 20px;
    /* box-shadow: 10px 5px 5px #000; */
    /* border-radius: 12px; */
    border-bottom-left-radius: 12px;
    border-TOP-left-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.title{
    text-align: center;
}
.title h2{
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: bolder;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-wrapper p{
    text-align: center;
    margin-top: 25px;
    font-size: medium;
}
.input-wrapper input{
    padding: 10px;
    border: none;
    width: 250px;
    background-color: rgb(240, 239, 239);
}
.btn-a{
    text-align: center;
    margin-top: 15px;
}
.btn-a a{
    text-decoration: none;
    color: #000;
    
}
.btn-wrapper{
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}
.btn-a button{
    padding: 10px;
    width: 110px;
    border: none;
    border-radius: 12px;
    background-color: rgb(235, 65, 3);
    color: white;
    margin-top: 10px;
    cursor: pointer;
}


/* second tiriri */
.main{
    width: 295px;
    height: 350px;
    padding: 20px;
    background-color:  red;
    /* border-radius: 12px; */
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.title h1{
    color: #fff;
    margin-top: 100px;
}
.title h4{
    color: #fff;
    
}
@media( max-width:600px){
.main{
    display: none;
}
}






